/* styles.css */

/* Basic styling */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 1s ease; /* Smooth background color transition */
    background-color: #000; /* Default background color */
}

#musicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

audio {
    margin-bottom: 20px;
}

#lyricsContainer {
    color: #000; /* Black text color */
    font-size: 24px;
    animation: glowing 1s ease-in-out infinite;
}

/* Glowing text effect */
@keyframes glowing {
    0% { text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FF0, 0 0 20px #FF0, 0 0 25px #FF0, 0 0 30px #FF0, 0 0 35px #FF0; }
    50% { text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #F00, 0 0 40px #F00, 0 0 50px #F00, 0 0 60px #F00, 0 0 70px #F00; }
    100% { text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FF0, 0 0 20px #FF0, 0 0 25px #FF0, 0 0 30px #FF0, 0 0 35px #FF0; }
}



