body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.music-player {
    background-color: #292929;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.player-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cover img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.info {
    margin-left: 20px;
}

.info h2 {
    font-size: 1.5em;
    margin: 0;
}

.info h3 {
    font-size: 1.2em;
    color: #b3b3b3;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.control-btn {
    background-color: #1db954;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.control-btn#loopBtn.active {
    background-color: #ff0000;
}

.control-btn:hover {
    background-color: #17a741;
}

.progress-container {
    margin-bottom: 20px;
}

#progressBar {
    width: 100%;
    margin-bottom: 10px;
    background-color: #444;
    border-radius: 5px;
    height: 6px;
}

#progressBar::-webkit-slider-thumb {
    background-color: #1db954;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#progressBar::-moz-range-thumb {
    background-color: #1db954;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.time-info {
    display: flex;
    justify-content: space-between;
}

.volume-container {
    margin-bottom: 10px;
}

#volumeControl {
    width: 100%;
    background-color: #444;
    border-radius: 5px;
    height: 6px;
}

#volumeControl::-webkit-slider-thumb {
    background-color: #1db954;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#volumeControl::-moz-range-thumb {
    background-color: #1db954;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.playback-speed {
    margin-bottom: 20px;
}

#playbackSpeed {
    width: 100%;
    padding: 5px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#playbackSpeed option {
    background-color: #292929;
    color: #fff;
}

#downloadBtn {
    background-color: #1db954;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#downloadBtn:hover {
    background-color: #17a741;
}

#lyrics {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}

#lyrics p {
    margin: 5px 0;
    line-height: 1.6;
}












